In [2]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split

In [4]:
df_train = pd.read_excel('dataset/train.xlsx')
df_test = pd.read_excel('dataset/test.xlsx')
df_valid = pd.read_excel('dataset/valid.xlsx')

In [5]:
df_train.head()

,Unnamed: 0,text,joy_x,trust_x,anticipation_x,surprise_x,fear_x,sadness_x,disgust_x,anger_x,...,joy_y,trust_y,anticipation_y,surprise_y,fear_y,sadness_y,disgust_y,anger_y,valence_y,arousal_y
0,0,Cracow beautiful but hotel massacre . The serv...,0,0,0,0,0,0,2,0,...,0,0,0,0,0,0,2,0,-2,1
1,1,"b.good hotel for a business trip, swimming poo...",0,0,0,2,0,0,0,0,...,0,0,0,2,0,0,0,0,0,1
2,2,Opinion on the basis of the course II At the F...,2,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,2
3,3,"It's like Tefal, and China anyway. Water smell...",0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,2,2
4,4,"Hotel Solar is located on a slope, directly on...",1,0,1,0,0,0,0,0,...,1,0,1,0,0,0,0,0,2,1

In [6]:
df_test.head()

,Unnamed: 0,text,joy_x,trust_x,anticipation_x,surprise_x,fear_x,sadness_x,disgust_x,anger_x,...,joy_y,trust_y,anticipation_y,surprise_y,fear_y,sadness_y,disgust_y,anger_y,valence_y,arousal_y
0,2490,The reception is very friendly. The room is cl...,2,0,1,0,0,0,0,0,...,2,0,1,0,0,0,0,0,2,1
1,2491,She was thinking for a long time about the cho...,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
2,2492,"The staff is nice, parking next to the hotel, ...",2,1,0,0,0,0,0,1,...,2,1,2,0,0,0,0,0,2,1
3,2493,"More ! The lease expires in 36 years. In 1999,...",0,2,1,0,0,0,1,0,...,0,0,0,0,0,1,0,2,-1,1
4,2494,"""Not only does the intraocular pressure play a...",0,0,0,0,2,0,0,0,...,0,0,0,0,2,0,0,0,0,1

In [7]:
df_valid.head()

,Unnamed: 0,text,joy_x,trust_x,anticipation_x,surprise_x,fear_x,sadness_x,disgust_x,anger_x,...,joy_y,trust_y,anticipation_y,surprise_y,fear_y,sadness_y,disgust_y,anger_y,valence_y,arousal_y
0,2213,We stayed at the Hotel London for 4 days in la...,2,2,2,3,0,0,0,0,...,2,2,2,3,0,0,0,0,2,3
1,2214,"""The method developed by Maciej Wojtkowski (FD",0,0,0,0,0,0,0,0,...,1,2,3,2,0,0,0,0,2,2
2,2215,"Hello, 7 months ago I had the privilege of mee...",0,0,1,0,0,0,1,0,...,0,0,1,0,0,0,1,0,1,1
3,2216,Terrible food. I do not recommend ! Not comfor...,0,0,0,0,2,3,2,2,...,0,0,0,0,1,2,2,2,-2,0
4,2217,The photos contained in the hotel's advertisin...,2,1,1,0,0,0,0,0,...,2,1,1,0,0,0,0,0,2,1

In [8]:
pipeline = Pipeline([
    ('vectorizer', TfidfVectorizer()),
    ('classifier', LinearSVC())
])

In [ ]:
pipeline.fit(X_train, y_train)

In [ ]:
accuracy = pipeline.score(X_train, y_train)
print('Accuracy:', accuracy)

In [9]:
# secodn method

In [10]:
from sklearn.svm import SVC
# from sklearn.model_selection import train_test_split
# from sklearn.feature_extraction.text import TfidfVectorizer

In [11]:
vectorizer = TfidfVectorizer()

In [ ]:
X = vectorizer.fit_transform(texts)

In [ ]:
clf = SVC(kernel='linear')
clf.fit(X_train, y_train)

In [ ]:
ccuracy = clf.score(X_train, y_train)
print("Accuracy:", accuracy)

In [ ]:
new_texts = ['Cracow beautiful but hotel massacre . The service wasnt nice all there dear to this ridiculous canteen on the ice rink you could kill yourself. . . And the swimming pool so much chlorine that there was nothing to breathe. . . The rooms lack words. . . . . . .we were afraid to bathe in the bathroom from the shower. . . And also TV 5 channels, 2 of them in Polish: ( I do NOT recommend! ! !', 'i am angry with you']
predictions = clf.predict(vectorizer.transform(new_texts))
print("Predictions:", predictions)

In [ ]:
#method3

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

In [ ]:
vectorizer = CountVectorizer()
X_train_vec = vectorizer.fit_transform(X_train)
X_test_vec = vectorizer.transform(X_test)

In [ ]:
nb = MultinomialNB()
nb.fit(X_train_vec, y_train)

In [ ]:
accuracy = nb.score(X_train_vec, y_train)
print("Accuracy: {:.2f}".format(accuracy))

In [ ]:
new_text = "I am feeling very happy today!"
new_text_vec = vectorizer.transform([new_text])
prediction = nb.predict(new_text_vec)[0]
print("Predicted emotion:", prediction)